@use "../../styles/mixins/mixin" as *;
@use "../../styles/variables/colors" as *;
/* Rich Text Editor Block */
.section.rich-text-editor {
	position: relative;
}

.jlb.rich-text-editor {
	.rich-text-editor__wrapper {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
	/* Decorative Lines */
	.rich-text-editor__line {
		width: 100%;
		height: rem(1);
		background: var(--secondary);
	}
	/* Content container */
	.rich-text-editor__content {
		position: relative;
		
		/* Typography */
		font-size: rem(16);
		line-height: 1.8;
		color: var(--color-text, #333);
		
		/* Spacing */
		padding: 0;
		
		/* Headings */
		h2 {
			padding: rem(54) rem(20);
			margin-bottom: 0;
			font-size: rem(48);
			font-weight: 400;
			line-height: 107%;
			color: var(--secondary);
			text-align: center;

			@media #{$xl}{
				font-size: rem(84);
				line-height: rem(80);
				padding: rem(120) rem(24);
			}
		}

		p{
			color: var(--secondary);
			font-size: rem(16);
			line-height: 136%;
			font-weight: 580;
			font-family: var(--secondary-font);
			padding: rem(61) rem(20) rem(59);
			text-align: center;
			margin: 0 auto;
			
			@media #{$xl}{
				line-height: rem(24);
				padding: rem(60) rem(24);
			}
		}
		
		/* Paragraphs */
		p {
			margin-bottom: 1.2em;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}