@use "../../styles/mixins/mixin" as *;

section.section--location-cards {
  padding: rem(112) 0 rem(96);
	background-color: var(--primary);

  @include desktop-up {
    padding: rem(172) 0 rem(129);
  }

  &:has(+ section .jlb.rich-text-editor) {
    @media #{$xl-m}{
      padding-bottom: 0;
    }
  }
}


.jlb.location-cards {
  max-width: rem(1056);
  margin: 0 auto;

  .location-cards__title-header {
    margin-bottom: rem(112);

    @include desktop-up {
      margin-bottom: rem(170);
    }

    h2 {
      font-size: rem(48);
      line-height: 1.07;
      text-align: center;
      color: var(--secondary);
      margin: 0;

      @include desktop-up {
        font-size: rem(84);
        line-height: 0.9524;
      }
    }
  }

  .location-cards__list {
    @include desktop-up {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(50) rem(32);
    }
  }

	.location-cards__card {
		border-top: rem(1) solid var(--tag);
		padding: rem(15) 0 rem(16.4);
		margin-bottom: 0;
		list-style: none;

		&::marker {
		content: "";
		}

		&.is-active {
      border-color: var(--secondary);
      
      .location-cards__header {
        .location-cards__toggle {
          &:before {
            opacity: 0;
          }
        }
      }
		}

    &:hover {
      @include desktop-up {
        border-color: var(--secondary);
      }
    }
	}

	.location-cards__header {
	position: relative;
	padding-right: rem(32);
		display: flex;
		align-items: center;
		cursor: pointer;

		@media #{$xl}{
			cursor: default;
		}

		h3 {
			font-size: rem(32);
			line-height: 1.25;
			color: var(--secondary);
			margin-bottom: 0;
		}

		.location-cards__toggle{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: rem(24);
			height: rem(24);

			@media #{$xl}{
				display: none;
			}

			&:before,&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--secondary);
			}

			&:after {
				width: rem(17);
				height: rem(1);
			}

			&:before{
				width: rem(1);
				height: rem(17);
			}
		}
	}

	.location-cards__content {
		display: none;
		padding: rem(34) 0 0;

		@include desktop-up {
			display: block;
		padding: rem(17) 0 0;
		}

		p, strong {
			font-size: rem(16);
			line-height: 1.5;
			font-weight: 580;
			color: var(--secondary);
			font-family: var(--secondary-font);
		}

	strong {
			font-weight: 750;
			display: block;
		}

	a {
		text-decoration: none;

		&:hover {
		text-decoration: underline;
		color: inherit;
		}
	}
	}
}
