@use "../../styles/mixins/mixin" as *;

/* Map Block */
.section{
	&--map {
		padding: rem(64) 0;
		@media #{$xxl}{
			padding: rem(182) 0 rem(179);
		}
	}
}
.jlb.map-block{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: rem(64);
	@media #{$xxl} {
		margin-bottom: rem(120);
	}
	svg {
		max-width: rem(1165);
		.map-block__cell{
			cursor: pointer;
			@include transition(opacity, 0.3s);
			&.is-active{
				opacity: 1;
			}
		}
	}
}

.jlb.map-content {
	.map-content__wrapper {
		@media #{$xl} {
			display: flex;
			flex-wrap: wrap;
			margin: 0 rem(-16);
			row-gap: rem(120);
		}
	}
	.map-content__item {
		@media #{$xl} {
			flex-basis: 33.33%;
			max-width: 33.33%;
			padding: 0 rem(16)
		}
	}
}
.jlb.location-block {
	border-top: rem(1) solid var(--tag);

	header {
		padding: rem(10) 0;
		position: relative;
		min-height: rem(72);
		display: flex;
		align-items: center;

		h3 {
			font-size: rem(36);
			font-weight: 400;
			line-height: rem(40);
			color: var(--secondary);
			margin-bottom: 0;
			padding-right: rem(32);

			@include desktop-up {
				font-size: rem(32);
				padding-right: 0;
			}
		}
		.location-block__toggle{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: rem(24);
			height: rem(24);
			@media #{$xl}{
				display: none;
			}
			&:before,&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--secondary);
			}
			&:after {
				width: rem(17);
				height: rem(1);
				
			}
			&:before{
				width: rem(1);
				height: rem(17);
			}
		}
	}
	.location-block__row {
		display: flex;
		gap: rem(24);
	}
	.location-block__col{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 1;
		.l-btn {
			margin-top: rem(36);
		}
		&--info {
			@media #{$xl-m}{
				justify-content: space-between;
			}

			& > strong {
				margin-bottom: rem(20);
				@media #{$xl}{
					flex-grow: 1;
					margin-bottom: rem(22);
				}
			}

			a {
				text-decoration: none;

				&:hover {
					color: inherit;
					text-decoration: underline;
				}
			}
		}
		&--bio {
			p{
				@media #{$xl}{
					flex-grow: 1;
				}
			}
			
			.l-btn {
				@include desktop-up {
					padding: rem(9.2) rem(19.6);
					margin-bottom: rem(6);
				}
			}
		}

	}
	article {
		display: none;
		padding: rem(18) 0;

		@media #{$xl}{
			display: block;
			padding: rem(16) 0;;
		}
		strong {
			font-size: rem(16);
			line-height: rem(24);
			font-weight: 750;
			color: var(--secondary);
			display: block;
		}
		p {
			font-size: rem(16);
			line-height: rem(24);
			font-weight: 580;
			color: var(--secondary);
			font-family: var(--secondary-font);
		}
	}
	&.is-active {
		border-color: var(--secondary);
		header {
			.location-block__toggle {
				&:before {
					opacity: 0;
				}
			}
		}
	}
}
