@use "../mixins/mixin" as *;

$s0: 0;
$s1: 1;
$s2: 2;
$s3: 3;
$s4: 4;
$s6: 6;
$s8: 8;
$s10: 10;
$s12: 12;
$s16: 16;
$s20: 20;
$s24: 24;
$s28: 28;
$s32: 32;
$s36: 36;
$s42: 42;
$s44: 44;
$s48: 48;
$s50: 50;
$s60: 60;
$s80: 80;
$s100: 100;
$s120: 120;
$s180: 180;
$s1440: 1440;
$s1728: 1728;
