@use '../../styles/mixins/mixin' as *;

.jlb {
    &.project-card {
        background: var(--primary);

        .container {
            max-width: unset;
            padding: unset;
        }

        .project-card__wrapper {
            display: flex;
            align-items: stretch;
            flex-direction: column;

            @media #{$xlg} {
                flex-direction: row;
            }
        }

        // Layout: Image Right - Content Left
        &--image-right {
            .project-card__wrapper {
                @media #{$xlg} {
                    flex-direction: row-reverse;
                }
            }
        }

        .project-card__figure {
            flex: 1;
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;

            @media #{$xlg} {
                flex-basis: calc(865 / 1728 * 100%);
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        .project-card__content {
            flex: 1;
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            gap: rem(36);
            padding: rem(64) rem(20);

            @media #{$xlg} {
                padding: rem(177) 0;
                gap: rem(64);
                flex-basis: calc(865 / 1728 * 100%);
            }
        }

        .project-card__header {
            display: flex;
            flex-direction: column;
            gap: rem(36);
            align-items: center;

            @media #{$xlg} {
                gap: rem(64);
            }
        }

        .project-card__title {
            font-size: rem(36);
            line-height: 1.2;
            margin: 0;
            color: var(--secondary);

            @media #{$xlg} {
                font-size: rem(64);
            }
        }

        .project-card__subtitle {
            font-size: rem(24);
            font-weight: 420;
            line-height: 1.3;
            margin: 0;
            color: var(--secondary);

            @media #{$xlg} {
                font-size: rem(32);
            }
        }

        .project-card__footer {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: rem(36);
            padding-top: rem(160);

            @media #{$xlg} {
                gap: rem(32);
                padding-top: rem(310);
            }

            // Vertical line before footer
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: rem(1);
                height: rem(120);
                background: var(--secondary);

                @media #{$xlg} {
                    height: rem(240);
                }
            }
        }

        .project-card__description {
            font-size: rem(16);
            line-height: 1.6;
            margin: 0;
            color: var(--secondary);

            @media #{$xlg} {
                font-size: rem(20);
            }
        }

        .project-card__cta {
            margin-top: rem(8);
        }

        .project-card__cta-link {
            display: inline-flex;
            align-items: center;
            gap: rem(12);
            color: var(--secondary);
            font-size: rem(16);
            text-decoration: none;
            transition: opacity 0.3s ease;

            @media #{$xlg} {
                font-size: rem(18);
            }

            img {
                width: rem(13);
                height: rem(13);
                transition: transform 0.3s ease;

                @media #{$xlg} {
                    width: rem(16.67);
                    height: rem(16.67);
                }
            }

            &:hover {
                opacity: 0.8;

                svg {
                    transform: translateX(rem(4));
                }
            }
        }
    }
}