@use "../../styles/mixins/mixin" as *;
@use "../../styles/variables/colors" as *;
.section--milestones {
	padding: rem(25) 0 rem(20);
    background-color: var(--primary);
    @media #{$xl} {
        padding: rem(60) 0 rem(52);
    }
}

.jlb.milestones {
    @media #{$xl} {
        padding-bottom: 100vh;
        max-width: rem(1250);
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .milestones__container{
        width: 100%;
    }
    .milestones__wrapper {
        padding-left: rem(24);
        @media #{$md} {
            padding: 0 rem(24);
            margin: 0;
        }
        @media #{$xl} {
            padding: rem(100) rem(24);
            display: flex;
            flex-direction: row;
            min-height: 100vh;
            align-items: center;
            align-items: flex-start;
        }
        @media #{$xxxl} {
            padding-inline: 0;
        }
    }
    .milestones__col {
        @media #{$xl} {
            flex-basis: 50%;
            max-width: 50%;
            padding: 0 rem(52);
        }
    }
    .milestones__date-slide-item{
        opacity: 0.1;
        @include transition;
        &.slick-current {
            opacity: 1;
        }
        @media #{$md} {
            padding: 0 rem(10);
        }
        h3 {
            font-size: rem(64);
            line-height: 107%;
            color: var(--secondary);
            margin-bottom: 0;
            @media #{$sm} {
                font-size: rem(96);
            }
            @media #{$xl} {
                line-height: 1;
                font-variant-numeric: lining-nums tabular-nums;
            }
            @media #{$xxl}{
                font-size: rem(150);
            }
            @media #{$xxxl}{
                font-size: rem(219);
                letter-spacing: rem(-19.71);
            }
            @media (min-width: 1540px) and (max-height: 1000px){
                font-size: rem(190);
            }
        }
    }
    .milestones__data-slide-item {
        margin-bottom: rem(33);
        @media #{$md} {
            padding: 0 rem(10);
        }
        @media #{$xl}{
            margin-bottom: 0;
        }
        h4 {
            font-size: rem(30);
            line-height: 107%;
            color: var(--secondary);
            @media #{$sm} {
                font-size: rem(36);
            }
            @media #{$xl} {
                font-size: rem(45);
                line-height: rem(56);
            }
        }
        p{
            font-size: rem(16);
            line-height: 136%;
            font-weight: 580;
            font-family: var(--secondary-font);
            color: var(--secondary);
        }
        a{
            &:hover, &:focus {
                color: var(--secondary);
            }
        }
    }
    .milestones__data-slide {
        padding-right: rem(24);
        @media #{$md} {
            padding-right: 0;
        }
        @media #{$xl} {
            padding-right: 0;
            padding-top: rem(15);
            padding-left: rem(10);
        }

        .slick-dots {
            
            display: flex;
            height: rem(2);
            width: 100%;
            position: relative;
            // bottom: rem(-58);
            @media #{$xl} {
                flex-direction: column;
                height: rem(164);
                width: rem(2);
                left: rem(-52);
                top: rem(28);
                position: absolute;
            }
            li{
                display: block;
                flex: 1;
                width: rem(2);
                height: rem(2);
                margin: 0;
                @media #{$xl} {
                    width: rem(2);
                }
                &.slick-active {
                    button {
                        background-color: var(--secondary);
                        opacity: 1;
                    }
                }
                button{
                    width: 100%;
                    height: 100%;
                    background-color: var(--primary-light);
                    padding: 0;
                    opacity: 0.3;
                    @include transition;
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    .milestones__date-slide {
        margin-bottom: rem(42);
        @media #{$xl} {
            margin-bottom: 0;
        }
        .slick-list {
            padding-right: rem(120);
            @media #{$md} {
                padding-right: 0;
            }
        }
    }
}