@use "mixins/mixin" as *;

html,
body {
  min-width: rem(320);
  background-color: var(--primary);
  color: var(--base);
  font-family: var(--primary-font);
  font-size: rem(16);
  word-break: break-word;

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: none;
  }
}

.section {
  &--light {
    background-color: var(--primary);
    position: relative;
  }
}
.site-main {
  &--default {
    padding-top: rem(97);
    @media #{$xl}{
      padding-top: rem(129);
    }
  }
}