@use "mixins/mixin" as *;

// Generic content
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 rem(20);
  font-family: var(--primary-font);
  font-weight: 400;
}

h1,
.l-h1 {
  font-size: fluid(64, 84);
}

h2,
.l-h2 {
  font-size: fluid(48, 64);
}

h3,
.l-h3 {
  font-size: fluid(36, 45);
}

h4,
.l-h4 {
  font-size: fluid(28, 36);
}

h5,
.l-h5 {
  font-size: fluid(24, 28);
}

ul,
ol {
  padding: 0;
  margin: 0;

  li {
    font-size: fluid(18, 32);
    list-style-position: inside;
  }
}

ol {
  li {
    list-style: decimal;
  }
}

p,
li {
  font-size: rem(18);

  margin: 0 0 rem(20);

  &:last-of-type {
    margin: 0;
  }

  &:empty {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-style: solid;
  text-decoration-thickness: rem(1);
  text-underline-offset: rem(2);

  @include transition;

  &:active {
    color: var(--primary);
    text-decoration-color: inherit;
  }

  &:hover, &:focus-visible {
    color: var(--primary);
    text-decoration-color: transparent;
    outline: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-position: top center;
}

// Accessibility: Visually hidden but available to screen readers
.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: rem(1);
  height: rem(1);
  padding: 0;
  border: 0;
  margin: rem(-1);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

// Skip navigation link for keyboard users
.skip-link {
  position: absolute;
  z-index: 10000;
  top: rem(-40);
  left: 0;
  padding: rem(8) rem(16);
  background: var(--secondary);
  color: var(--white);
  text-decoration: none;

  &:focus {
    top: 0;
  }
}

// Enhanced focus styles for buttons and interactive elements
button,
input,
select{
  &:focus {
    outline: rem(2) solid var(--primary);
    outline-offset: rem(2);
  }

  &:focus-visible {
    outline: rem(2) solid var(--primary);
    outline-offset: rem(2);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.generic {
  --text-color: var(--secondary);
  --hover-color: var(--primary);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 rem(16);
    color: var(--text-color);
    line-height: 107%;
    @media #{$xl} {
      margin: 0 0 rem(28);
    }
  }

  h1 {
    font-size: rem(48);
    line-height: 107%;
    @media #{$xl} {
      font-size: rem(84);
      line-height: rem(99);
    }
  }

  h2 {
    font-size: rem(24);
    @media #{$xl} {
      font-size: rem(45);
      line-height: rem(56);
    }
  }

  h3 {
    font-size: rem(22);
    @media #{$xl} {
      font-size: rem(40);
    }
  }
  h4 {
    font-size: rem(20);
    @media #{$xl} {
      font-size: rem(36);
    }
  }
  h5 {
    font-size: rem(18);
    @media #{$xl} {
      font-size: rem(28);
    }
  }
  h6 {
    font-size: rem(16);
    @media #{$xl} {
      font-size: rem(24);
    }
  }
  p{
    font-size: rem(16);
    line-height: 136%;

    @media #{$xl} {
      font-size: rem(18);
      line-height: rem(24);
    }
  }

  header {
    margin-bottom: rem(32);
  }

  p,
  address,
  hr,
  pre,
  code {
    margin-bottom: rem(20);
    @media #{$xl} {
      margin-bottom: rem(25);
    }
  }

  li {
    margin-bottom: fluid(11.2, 19.2);
  }

  p,
  li {
    color: var(--text-color);
    font-size: rem(18);
    line-height: rem(24);
    font-family: var(--secondary-font);
    font-weight: 580;

    &:last-of-type {
      margin: 0;
    }

    &:empty {
      display: none;
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  time {
    color: var(--text-color);
    font-size: rem(20);
    font-weight: 400;
    letter-spacing: rem(0.15);
    line-height: 180%;
  }

  ul {
    margin: fluid(19.2, 25.6) 0;

    li {
      position: relative;
      margin-left: rem(23);
      list-style: disc;

      @media #{$xl} {
        margin-left: rem(30);
      }

      &::before {
        display: none;
      }

      &:last-of-type {
        margin-left: rem(23);

        @include desktop-up {
          margin-left: rem(30);
        }
      }
    }
  }

  ol {
    padding-left: rem(26);
    margin: rem(32) 0;

    li {
      list-style: unset;

      &::marker {
        padding-right: rem(10);
        font-weight: 600;
      }
    }
  }

  blockquote {
    position: relative;
    padding: rem(24) !important;
    border-radius: rem(5);
    margin: rem(32) 0 !important;
    background-color: var(--secondary);
    color: var(--hover-color);
    font-size: rem(18);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;

    @include desktop-up {
      font-size: rem(20);
    }

    p,
    li {
      font-size: rem(18) !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 1.5 !important;

      @include desktop-up {
        font-size: rem(20) !important;
      }
    }

    cite {
      font-size: rem(16) !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 1.5 !important;

      @include desktop-up {
        font-size: rem(18) !important;
      }
    }
  }

  iframe,
  figure,
  video {
    margin-bottom: rem(32);

    img {
      max-width: 100%;
      background-color: var(--neutral-gray);
    }

    figcaption {
      margin-top: rem(5);
      color: var(--text-color);
      font-size: rem(20);
      font-weight: 400;
      letter-spacing: rem(0.15);
      line-height: 180%;
    }
  }

  iframe {
    width: 100%;
    border: none;
    aspect-ratio: 16 / 9;
  }

  ul+h2,
  p+h2 {
    margin-top: rem(24);
    @media #{$xl} {
      margin-top: rem(32);
    }
  }

  p+h1,
  p+h3,
  p+h4,
  p+h5,
  p+h6 {
    margin-top: rem(32);
  }

  code {
    display: block;
    max-height: rem(300);
    padding: rem(20);
    border-radius: rem(6);
    background-color: var(--neutral-gray);
    overflow-x: auto;
    white-space: pre;
  }
  &--default-page {
    max-width: rem(784);
    margin: auto;
  }
}
.page-header{
  text-align: center;
  padding: rem(64) 0;
  border-bottom: rem(1) solid var(--secondary);
  @media #{$xl} {
    padding: rem(110) 0;
  }
  h1 {
    font-size: rem(48);
    font-weight: 400;
    line-height: 107%;
    color: var(--secondary);
    margin-bottom: 0;
    @media #{$xl} {
      font-size: rem(84);
      line-height: rem(99);
    }
  }
}
.page-content {
  padding: rem(60) 0;
  @media #{$xl} {
    padding: rem(165) 0;
  }
   & > p {
    margin-bottom: rem(20);
   }
  .search-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(12);
    max-width: rem(400);
    margin: auto;
    label {
      flex-grow: 1;
    }
    .search-field {
      height: 100%;
      border: rem(1) solid var(--secondary);
      padding: rem(8);
    }
  }
  &--list {
    padding: rem(60) 0;
    .entry-title {
      font-size: rem(24);
      font-weight: 400;
      line-height: 107%;
      color: var(--secondary);
      margin-bottom: 0;
      @include transition;
      a {
        text-decoration: none;
        &:hover {
          color: var(--secondary);
          text-decoration: underline;
        }
      }
    }
    .entry-content{
      margin-top: rem(8);
      p {
        font-size: rem(16);
        @include transition;
      }
    }
    .fill-link {
      position: absolute;
      inset: 0;
      z-index: 1;
      color: transparent;
      font-size: 0;
      &:hover,&:focus {
        & + .page-content__wrapper{
          background-color: var(--secondary);
          border-color: var(--secondary);
          .entry-title,p {
            color: var(--primary);
          }
        }
      }
    }
    .page-content__wrapper {
      padding: rem(16);
      border: rem(1) solid var(--tag-dark);
      border-radius: rem(4);
      position: relative;
      @include transition;
      @media #{$xl} {
        padding: rem(24);
      }
      .read-more {
        text-decoration-color: transparent;
        color: var(--secondary);
        &:hover,&:focus {
          text-decoration-color: var(--secondary);
          
        }
      }
      .post-thumbnail {
        max-width: rem(100);
        margin-bottom: rem(8);
      }
    }
    article {
      position: relative;
      &:not(:last-child) {
        margin-bottom: rem(16);
        @media #{$xl} {
          margin-bottom: rem(24);
        }
      }
    }
    .nav-previous {
      a {
        @include transition;

        display: inline-block;
        padding: fluid(8, 15, 393, 1728) fluid(19, 23, 393, 1728);
        border: rem(1) solid var(--primary);
        text-decoration: none;
        line-height: 2;
        font-size: fluid(16, 23, 393, 1728);
        font-weight: 400;
        background-color: var(--secondary);
        color: var(--primary);
        &:hover,&:focus {
          background-color: var(--primary);
          color: var(--secondary);
          border-color: var(--secondary);

        }

        @media #{$lg} {
          width: fit-content;
          line-height: 1.3913;
        }
      }
    }
  }
}
.generic-page{
  .generic-page__body{
    padding: rem(60) 0;
    @media #{$xl} {
      padding: rem(165) 0;
    }
  }
}

section.section--not-found {
  padding: rem(97) 0 rem(26);

  @include desktop-up {
    padding: rem(129) 0 0;
  }
}

.golden-template.not-found {
  padding: rem(88) 0;
  overflow: hidden;

  @include desktop-up {
    padding: rem(126) 0;
    display: flex;
    flex-direction: column-reverse;
  }

  h2 {
    font-size: 68.539vw;
    line-height: 0.9524;
    letter-spacing: rem(-10.77);
    text-align: center;
    color: var(--secondary);
    margin-bottom: rem(80);
    white-space: nowrap;
    position: relative;
    left: 50%;
    transform: translateX(-61%);

    @media #{$sml} {
      font-size: 67vw;
    }

    @include desktop-up {
      font-size: 56.023vw;
      line-height: 0.9524;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 0;
      transform: translateX(-52%);
    }
  }

  .not-found__link {
    display: grid;
    grid-template-columns: auto rem(37.33);
    grid-gap: rem(16);
    align-items: center;
    margin: 0 auto;
    padding: 0 rem(24);
    font-size: rem(48);
    line-height: 1.07;
    text-align: center;
    color: var(--secondary);
    text-decoration: none;
    width: fit-content;

    @include desktop-up {
      grid-template-columns: auto rem(61);
      gap: rem(33);
      font-size: rem(84);
      padding: 0 rem(32);
      margin-bottom: rem(11);
    }

    svg {
      @include transition;
    }

    &:hover {
      svg {
        transform: translateX(rem(4));
      }
    }

  }
}

// Reduced motion for users who prefer it
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.is-overflow-hidden {
  overflow: hidden;
}