@use "../../styles/mixins/mixin" as *;
@use "../../styles/variables/colors" as *;
// Title Block Component
// ============================================================================

.title-block {
    padding: rem(56) 0 rem(50);
    background-color: var(--primary);
    text-align: center;

    // Content Wrapper
    // ========================================================================
    &__content {
        max-width: rem(600);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // Heading
    // ========================================================================
    &__heading {
        font-size: rem(36);
        font-weight: 400;
        line-height: 107%;
        color: var(--secondary);
        margin: 0 0 rem(24);
        @media #{$xl}{
            font-size: rem(84);
            line-height: rem(80);
            margin-bottom: rem(80);
        }
    }

    // Text/Paragraph
    // ========================================================================
    &__text {
        p {
            font-size: rem(16);
            line-height: 136%;
            font-weight: 580;
            @media #{$xl}{
                font-size: rem(18);
                line-height: 140%;
            }
        }
        color: var(--secondary);
        margin: 0 auto rem(32);
        max-width: rem(512);
        font-family: var(--secondary-font);
        
        & + .l-btn {
            margin-bottom: rem(50);
        }
    }
    &--primary {
        .title-block__heading{
            font-size: rem(48);
            line-height: 107%;
            margin: 0 0 rem(52);
            @media #{$xl} {
                font-size: rem(84);
                line-height: rem(80);
                margin-bottom: rem(80);
            }
        }
    }
    &--secondary {
        padding-top: 0;
        @media #{$xl}{
            padding:0 0 rem(160);
        }
        .title-block__heading {
            padding-top: rem(36);
            @media #{$xl}{
                padding-top: 0;
            }
        }
        .title-block__text {
            @media #{$xl}{
                max-width: rem(556);
            }
        }
    }
}