@use "../../styles/mixins/mixin" as *;
.filter-blocks {
    max-width: rem(1056);
    margin: auto;
    .filter-blocks__heading{
        font-size: rem(36);
        line-height: 107%;
        font-weight: 400;
        color: var(--secondary);
        margin-bottom: rem(30);
        text-align: center;
        @media #{$xl}{
            font-size: rem(64);
            line-height: rem(56);
            font-weight: 400;
            margin-bottom: rem(64);
        }
    }
    .filter-blocks__nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-bottom: rem(15);
        @media #{$xl}{
            margin-bottom: rem(130);
        }
        li {
            margin-bottom: 0;
        }
    }
    .filter-blocks__nav-button{
        background-color: transparent;
        border: none;
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(32);
        color: var(--secondary);
        min-height: rem(50);
        padding: rem(5) rem(17);
        font-family: var(--secondary-font);
        cursor: pointer;
        @include transition();
        &.is-active,
        &--active {
            background-color: var(--secondary);
            color: var(--primary);
        }
        &:hover, &:focus-visible {
            background-color: var(--secondary);
            color: var(--primary);
        }
        @media #{$xl}{
            font-size: rem(18);
        }
    }
    .filter-blocks__grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 rem(-12);
        row-gap: rem(8);
        @media #{$xl}{
            margin: 0 rem(-16);
            row-gap: rem(80);
        }
    }
    .filter-blocks__col{
        flex-basis: 50%;
        max-width: 50%;
        @include transition();
        @media #{$md}{
            flex-basis: 33.33333333333333%;
            max-width: 33.33333333333333%;
        }
        @media #{$xl}{
            flex-basis: 25%;
            max-width: 25%;
            padding: 0;
        }
        &--hidden {
            display: none;
        }
    }
    .filter-blocks__card{
        cursor: pointer;
        padding: rem(16);
        height: 100%;
        @include transition();
        h3 {
            color: var(--secondary);
            font-size: rem(24);
            font-weight: 400;
            line-height: 107%;
            margin-bottom: rem(5);
            @include transition();
            @media #{$xl}{
                font-size: rem(32);
                line-height: rem(40);
                font-weight: 400;
            }
        }
        .filter-blocks__subtitle{
            font-size: rem(11);
            font-weight: 580;
            line-height: 136%;
            color: var(--secondary);
            display: inline-block;
            font-family: var(--secondary-font);
            @include transition();
            @media #{$xl}{
                font-size: rem(18);
                line-height: rem(24);
            }
        }
        &:hover, &:focus {
            background-color: var(--secondary);
            h3,span {
                color: var(--primary);
            }
        }
    }
    .filter-blocks__popup {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translate(-50%, -100%);
        z-index: 1000;
        @include transition();
        &.is-visible {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }
}
.jlb.popup {
    padding: rem(24) rem(20);
    background-color: var(--secondary);
    width: rem(864);
    max-width: calc(100% - rem(32));
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    @include transition();
    @media #{$xl}{
        padding: rem(47) rem(64) rem(57);
    }
    &.is-visible {
        opacity: 1;
        visibility: visible;
    }
    .popup__close {
        position: absolute;
        top: rem(38);
        right: rem(24);
        background-color: transparent;
        border: none;
        width: rem(16);
        height: rem(16);
        @include transition();
        @media #{$xl}{
            width: rem(32);
            height: rem(32);
            top: rem(70);
            right: rem(64);
        }
        &:hover, &:focus {
            transform: scale(0.85);
        }
    }
    .popup__content {
        text-align: center;
        color: var(--primary);
        text-align: center;
    }
    .popup__title{
        font-size: rem(32);
        font-weight: 400;
        line-height: 136%;
        margin-bottom: rem(16);
        padding: 0 rem(24);
        @media #{$xl}{
            font-size: rem(64);
            line-height: rem(80);
            margin-bottom: rem(16);
            padding: 0 rem(35);
        }
    }
    .popup__subtitle{
        font-size: rem(18);
        font-weight: 580;
        line-height: 136%;
        font-family: var(--secondary-font);
        @media #{$xl}{
            font-size: rem(32);
            line-height: rem(80);
        }
    }
    .popup__line{
        width: rem(1);
        height: rem(80);
        margin: rem(36) 0;
        background-color: var(--primary);
        display: inline-block;
        color: transparent;
        font-size: 0;
    }
    .popup__text{
        margin-top: rem(20);
        p{
            font-size: rem(16);
            line-height: 140%;
            @media #{$xl}{
                font-size: rem(20);
            }
        }
    }
}
.section {
    &--filter-cards { 
        padding: rem(58) 0;
        border-bottom: rem(1) solid var(--secondary);
        @media #{$xl}{
            padding: rem(175) 0;
        }
    }
}
.overlay-popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-size: 0;
    color: transparent;
    @include transition();
    &.is-visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}