@use "../../styles/mixins/mixin" as *;

// Line Block Component
// ============================================================================

.jlb {
    &.line-block {
        will-change: transform;
        -webkit-backface-visibility: hidden;
        padding: rem(56) 0 0;
        background-color: var(--primary);
        transform: scaleX(0.925);
        @media #{$xl}{
            padding: rem(228) 0 rem(140);
            margin-top: rem(-145);
            position: relative;
            z-index: 1;
        }

        // Content Wrapper
        // ========================================================================
        .line-block__content {
            max-width: rem(1030);
            margin: 0 auto;
            text-align: center;
            position: relative;
        }

        // Text
        // ========================================================================
        .line-block__text {
            p{
                font-size: rem(24);
                line-height: 136%;
                font-weight: 400;
                color: var(--secondary);
                margin: 0;
    
                @media #{$lg} {
                    font-size: rem(37);
                    line-height: rem(53);
                }
            }
            
        }
        .line-block__line{
            color: transparent;
            font-size: 0;
            width: rem(1);
            display: inline-block;
            position: relative;
            height: rem(132);
            margin-top: rem(58);
            @media #{$lg} {
                height: rem(216);
                margin-top: rem(128);
                
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--secondary);
                transition: height 1s ease;
                @media #{$xl} {
                    height: 0;
                }
            }
            &.aos-animate {
                &:after {
                    height: 100%;
                }
            }
        }
    }
}