// critical css for layout
@use "mixins/utils" as *;
@use "variables/spacing" as *;
@use "containers" as *;

.grid-4-cols {
  @include grid-4-cols;
}

.grid-3-cols {
  @include grid-3-cols;
}

.grid-2-cols {
  @include grid-2-cols;
}